CMS_URL=http://localhost:3000
PAYLOAD_BEARER_TOKEN=your_secret_bearer_token_here
PREVIEW_SECRET=your_secret_preview_token_here
PLAUSIBLE_DOMAIN=localhost
PLAUSIBLE_SCRIPT=http://localhost:8000/js/script.local.js
