:root {
	--header-height: calc(var(--spacing) * 12);
	--sidebar-width: calc(var(--spacing) * 56);

	/* z-index scale */
	--z-0: 0;
	--z-10: 10;
	--z-100: 100;
	--z-1000: 1000;
	--z-10000: 10000;

	@media screen and (width >= 64rem) {
		--header-height: calc(var(--spacing) * 16);
		--sidebar-width: calc(var(--spacing) * 72);
	}
}
